*,
*:before,
*:after {
    box-sizing: border-box;
}
.clearfix:after {
    display: block;
    content: "";
    clear: both;
}
.inline-helper {
    display: inline-block;
    height: 100%;
}
html,
body {
    height: 100%;
}
body {
    font-family: "Muller";
    color: #000;
    font-size: 14px;
}

.custom-scroll {
    overflow: auto;
}

.custom-scroll::-webkit-scrollbar {
    width: 3.5px;
}

.custom-scroll::-webkit-scrollbar-track {
    opacity: 0.26;
    border-radius: 1px;
    background-color: #d8d8d8;
}

.custom-scroll::-webkit-scrollbar-thumb {
    border-radius: 1px;
    background-color: #00e0a9;
}
