@font-face {
    font-family: "Muller";
    src: url("../fonts/muller/MullerHairline.otf") format("opentype");
    font-weight: 100;
}

@font-face {
    font-family: "Muller";
    src: url("../fonts/muller/MullerHairlineItalic.otf") format("opentype");
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: "Muller";
    src: url("../fonts/muller/MullerUltraLight.otf") format("opentype");
    font-weight: 200;
}

@font-face {
    font-family: "Muller";
    src: url("../fonts/muller/MullerUltraLightItalic.otf") format("opentype");
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: "Muller";
    src: url("../fonts/muller/MullerLight.otf") format("opentype");
    font-weight: 300;
}

@font-face {
    font-family: "Muller";
    src: url("../fonts/muller/MullerLightItalic.otf") format("opentype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Muller";
    src: url("../fonts/muller/MullerRegular.otf") format("opentype");
    font-weight: 400;
}

@font-face {
    font-family: "Muller";
    src: url("../fonts/muller/MullerRegularItalic.otf") format("opentype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Muller";
    src: url("../fonts/muller/MullerMedium.otf") format("opentype");
    font-weight: 500;
}

@font-face {
    font-family: "Muller";
    src: url("../fonts/muller/MullerMediumItalic.otf") format("opentype");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Muller";
    src: url("../fonts/muller/MullerBold.otf") format("opentype");
    font-weight: 700;
}

@font-face {
    font-family: "Muller";
    src: url("../fonts/muller/MullerBoldItalic.otf") format("opentype");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "Muller";
    src: url("../fonts/muller/MullerExtraBold.otf") format("opentype");
    font-weight: 800;
}

@font-face {
    font-family: "Muller";
    src: url("../fonts/muller/MullerExtraBoldItalic.otf") format("opentype");
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: "Muller";
    src: url("../fonts/muller/MullerHeavy.otf") format("opentype");
    font-weight: 900;
}

@font-face {
    font-family: "Muller";
    src: url("../fonts/muller/MullerHeavyItalic.otf") format("opentype");
    font-weight: 900;
    font-style: italic;
}
